#game div {
  border: 1px solid #B8E0E3;
  width: 100px;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

#game {
  height: fit-content;
  width: 50vw;
  min-width: 600px;
  text-align: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Unica One', serif;
  font-size: 4em;
  margin: 9px auto;
  /* background-color: rgba(206, 192, 252, 0.4);
  width: 60vw;
  position: relative; */
  padding: 20px;
  /* border-radius: 70px; */
  color: #FAE39C;
  text-shadow: 2px 4px #FC9F66;
}

body {
  background-color: #84A9CD;
}